@import '../../@themes/styles/style';


.lgn-logo{
   padding-top: 24px;
   .logo{
      height: 120px;
      display: flex;
      align-items: center;
      &>img{
         height: 80px;
      }
   }
}

.lgn-box{
   margin-top: 24px;
   width: 450px;
   max-width: calc(100% - 30px);
   padding: 32px;
   border-radius: 8px;
   background-color: #fff;

   .ttl-lgn{
      font-size: 24px;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.5;
      letter-spacing: normal;
      font-family: $font1;
      color:$base-green-color;
      margin-bottom: 24px;
   }

   .lgn-frm{
      input{
         font-family: $font1;
      }
   }

   .remember-me{
      margin-bottom: 18px;
      .rm{
         color: black;
         font-size: 14px;
      }
   }
}

.btn-login{
   width: 272px;
   display: block;
   border: none;
}