  <mat-horizontal-stepper [@.disabled] = "true" class="addc-stepper" [linear]="isLinear"  #stepper>
    <ng-template matStepperIcon="done" let-index="index">
      {{(index+1) }}
    </ng-template>
    <ng-template matStepperIcon="edit" let-index="index">
      {{(index+1) }}
    </ng-template>

    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup" class="add-stp-item">
        <ng-template matStepLabel >Enter Company Details</ng-template>
        <div class="">
          <div class="addc-bg-white">
            <h3 class="addc-ttl">Company Profile</h3>
  
            <div class="row justify-content-space-between">
              <div class="col-md-5 col-sm-6">
                <mat-form-field class="w-100 addc-material-input">
                  <input class="d-block" matInput placeholder="Client UEN" formControlName="firstCtrl" required>
                </mat-form-field>
              </div>
              <div class="col-md-5 col-sm-6">
                <mat-form-field class="w-100 addc-material-input">
                  <input class="d-block" matInput placeholder="Office Address Line 1"  >
                </mat-form-field>
              </div>
              <div class="col-md-5 col-sm-6">
                <mat-form-field class="w-100 addc-material-input">
                  <input class="d-block" matInput placeholder="Client Name"  required>
                </mat-form-field>
              </div>
              <div class="col-md-5 col-sm-6">
                <mat-form-field class="w-100 addc-material-input">
                  <input class="d-block" matInput placeholder="Office Address Line 2"  >
                </mat-form-field>
              </div>
              <div class="col-md-5 col-sm-6">
                  <p class="arrngmnt-txt">Arrangement</p>
                  <mat-radio-group labelPosition="after">
                    <mat-radio-button color="primary" value="m"  class="arngmnt addc-radio">MSA</mat-radio-button>
                    <mat-radio-button color="primary" value="f"  class="arngmnt addc-radio">ISA</mat-radio-button>
                  </mat-radio-group>
              </div>
            </div>
          </div>
        </div>

        <div class="addc-bottom d-flex justify-content-space-between">
          <div>
            <a class="addc-btn btn-secondary"  [routerLink]="['/admin/task/client']">Cancel</a>
          </div>
          <div>
            <button class="addc-btn btn-light mr-3" >Save as draft</button>
            <button class="addc-btn btn-primary"  (click)="complete()" >Next</button>
          </div>
        </div>
      </form>

      
    </mat-step>
    <mat-step >
      <ng-template matStepLabel>Set Users</ng-template>
      <div >
        <div class="">
          <div class="addc-bg-white">
            <div class="text-right mb-4">
              <button class="addc-btn btn-light">
                <i class="icon-plus"></i>
                Add News Users
              </button>
            </div>
            <div class="addc-table-container adc-row tbl-1">
                <table mat-table [dataSource]="dataSource" matSort class="addc-table  w-100">
        
                    <!-- Position Column -->
                    <ng-container matColumnDef="name">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                    </ng-container>
                  
                    <!-- Name Column -->
                    <ng-container matColumnDef="role">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Role </th>
                      <td mat-cell *matCellDef="let element"> {{element.role}} </td>
                    </ng-container>
                  
                    <!-- Weight Column -->
                    <ng-container matColumnDef="contract_no">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Contract No. </th>
                      <td mat-cell *matCellDef="let element" >
                          {{element.contract_no}} 
                      </td>
                    </ng-container>
                  
                    <!-- Symbol Column -->
                    <ng-container matColumnDef="email">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
                      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                    </ng-container>
                    
                    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  </table>
            </div>
          </div>
        </div>
        <div class="addc-bottom d-flex justify-content-space-between">
          <div>
            <a class="addc-btn btn-secondary"  [routerLink]="['/admin/task/client']">Cancel</a>
          </div>
          <div>
            <button class="addc-btn btn-light mr-3" >Save as draft</button>
            <button class="addc-btn btn-primary"  (click)="complete()" >Next</button>
          </div>
        </div>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Configure Master Templates</ng-template>
      <div class="step-3">
        <div class="">
          <div class="addc-bg-white">
            <div class="mb-4">
              <button class="addc-btn btn-light">
                <i class="icon-plus"></i>
                Add New Template
              </button>
            </div>
            <div class="addc-template">
              <div class="addc-template-sidebar d-inline-block">
                <button class="active">
                  Template #1
                </button>
                <button>
                  Template #2
                </button>
              </div>
              <div class="addc-template-content d-inline-block">
                <div class="content">
                  <h3 class="template-title">Template #1</h3>
                  <div class="content-1">
                    <h4 class="template-subtitle">Work Details</h4>
                    <div class="sub-content">
                      <div class="row">
                        <div class="col-lg-2 col-sm-4 part-title">Probation Period</div>
                        <div class="col-lg-10 col-sm-8 part-content">
                          <div class="d-flex">
                            <div class="mr-3">
                                <mat-form-field class="addc-select-border-container">
                                  <mat-select >
                                    <mat-option>Day</mat-option>
                                    <mat-option value="option1">Option 1</mat-option>
                                    <mat-option value="option2">Option 2</mat-option>
                                    <mat-option value="option3">Option 3</mat-option>
                                  </mat-select>
                                </mat-form-field>
                            </div>
                            <div>
                                <mat-form-field class="addc-select-border-container">
                                    <mat-select>
                                      <mat-option>Month</mat-option>
                                      <mat-option value="option1">Option 1</mat-option>
                                      <mat-option value="option2">Option 2</mat-option>
                                      <mat-option value="option3">Option 3</mat-option>
                                    </mat-select>
                                  </mat-form-field>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-lg-2 col-sm-4 part-title">Working Days Per Week</div>
                        <div class="col-lg-10 col-sm-8 part-content">
                          <div class="d-flex wrk-tbl">
                            <div class="left-title">
                              <div></div>
                              <div>Full Day</div>
                              <div>Half Day (AM)</div>
                              <div>Half Day (PM)</div>
                            </div>
                            <div class="data-day">
                              <div>Mon</div>
                              <div class="dy-radio-grp">
                                  <mat-radio-group >
                                    <mat-radio-button color="primary" value="m"  class="arngmnt addc-radio"></mat-radio-button>
                                    <mat-radio-button color="primary" value="f"  class="arngmnt addc-radio"></mat-radio-button>
                                    <mat-radio-button color="primary" value="s"  class="arngmnt addc-radio"></mat-radio-button>
                                  </mat-radio-group> 
                              </div>
                            </div>
                            <div class="data-day">
                              <div>Tue</div>
                              <div class="dy-radio-grp">
                                  <mat-radio-group >
                                    <mat-radio-button color="primary" value="m"  class="arngmnt addc-radio"></mat-radio-button>
                                    <mat-radio-button color="primary" value="f"  class="arngmnt addc-radio"></mat-radio-button>
                                    <mat-radio-button color="primary" value="s"  class="arngmnt addc-radio"></mat-radio-button>
                                  </mat-radio-group> 
                              </div>
                            </div>
                            <div class="data-day">
                              <div>Wed</div>
                              <div class="dy-radio-grp">
                                  <mat-radio-group >
                                    <mat-radio-button color="primary" value="m"  class="arngmnt addc-radio"></mat-radio-button>
                                    <mat-radio-button color="primary" value="f"  class="arngmnt addc-radio"></mat-radio-button>
                                    <mat-radio-button color="primary" value="s"  class="arngmnt addc-radio"></mat-radio-button>
                                  </mat-radio-group> 
                              </div>
                            </div>
                            <div class="data-day">
                              <div>Thu</div>
                              <div class="dy-radio-grp">
                                  <mat-radio-group >
                                    <mat-radio-button color="primary" value="m"  class="arngmnt addc-radio"></mat-radio-button>
                                    <mat-radio-button color="primary" value="f"  class="arngmnt addc-radio"></mat-radio-button>
                                    <mat-radio-button color="primary" value="s"  class="arngmnt addc-radio"></mat-radio-button>
                                  </mat-radio-group> 
                              </div>
                            </div>
                            <div class="data-day">
                              <div>Fri</div>
                              <div class="dy-radio-grp">
                                  <mat-radio-group >
                                    <mat-radio-button color="primary" value="m"  class="arngmnt addc-radio"></mat-radio-button>
                                    <mat-radio-button color="primary" value="f"  class="arngmnt addc-radio"></mat-radio-button>
                                    <mat-radio-button color="primary" value="s"  class="arngmnt addc-radio"></mat-radio-button>
                                  </mat-radio-group> 
                              </div>
                            </div>
                            <div class="data-day">
                              <div>Sat</div>
                              <div class="dy-radio-grp">
                                  <mat-radio-group >
                                    <mat-radio-button color="primary" value="m"  class="arngmnt addc-radio"></mat-radio-button>
                                    <mat-radio-button color="primary" value="f"  class="arngmnt addc-radio"></mat-radio-button>
                                    <mat-radio-button color="primary" value="s"  class="arngmnt addc-radio"></mat-radio-button>
                                  </mat-radio-group> 
                              </div>
                            </div>
                            <div class="data-day">
                              <div>Sun</div>
                              <div class="dy-radio-grp">
                                  <mat-radio-group >
                                    <mat-radio-button color="primary" value="m"  class="arngmnt addc-radio"></mat-radio-button>
                                    <mat-radio-button color="primary" value="f"  class="arngmnt addc-radio"></mat-radio-button>
                                    <mat-radio-button color="primary" value="s"  class="arngmnt addc-radio"></mat-radio-button>
                                  </mat-radio-group> 
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-lg-2 col-sm-4 part-title">Working Hours Per Day</div>
                        <div class="col-lg-10 col-sm-8 part-content">
                          <div class="d-flex align-items-center">
                            <div class="d-flex">
                              <div>
                                <mat-form-field class="addc-select-border-container mr-4">
                                  <mat-select>
                                    <mat-option>Day</mat-option>
                                    <mat-option value="option1">Option 1</mat-option>
                                    <mat-option value="option2">Option 2</mat-option>
                                    <mat-option value="option3">Option 3</mat-option>
                                  </mat-select>
                                </mat-form-field>
                              </div>
                              <div>
                                <mat-form-field class="addc-select-border-container mr-4">
                                  <mat-select>
                                    <mat-option>Day</mat-option>
                                    <mat-option value="option1">Option 1</mat-option>
                                    <mat-option value="option2">Option 2</mat-option>
                                    <mat-option value="option3">Option 3</mat-option>
                                  </mat-select>
                                </mat-form-field>
                              </div>
                            </div>
                            <div class="mr-4">to</div>
                            <div class="d-flex ">
                              <div>
                                <mat-form-field class="addc-select-border-container mr-4">
                                  <mat-select>
                                    <mat-option>Day</mat-option>
                                    <mat-option value="option1">Option 1</mat-option>
                                    <mat-option value="option2">Option 2</mat-option>
                                    <mat-option value="option3">Option 3</mat-option>
                                  </mat-select>
                                </mat-form-field>
                              </div>
                              <div>
                                <mat-form-field class="addc-select-border-container mr-4">
                                  <mat-select>
                                    <mat-option>Day</mat-option>
                                    <mat-option value="option1">Option 1</mat-option>
                                    <mat-option value="option2">Option 2</mat-option>
                                    <mat-option value="option3">Option 3</mat-option>
                                  </mat-select>
                                </mat-form-field>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="row">
                          <div class="col-lg-2 col-sm-4 part-title">Rest Day(s)</div>
                          <div class="col-lg-10 col-sm-8 part-content">
                              <section class="example-section">
                                <mat-checkbox class="mr-4 addc-checkbox" color="primary">Mon</mat-checkbox>
                                <mat-checkbox class="mr-4 addc-checkbox" color="primary" >Tue</mat-checkbox>
                                <mat-checkbox class="mr-4 addc-checkbox" color="primary" >Wed</mat-checkbox>
                                <mat-checkbox class="mr-4 addc-checkbox" color="primary" >Thu</mat-checkbox>
                                <mat-checkbox class="mr-4 addc-checkbox" color="primary" >Fri</mat-checkbox>
                                <mat-checkbox class="mr-4 addc-checkbox" color="primary" >Sat</mat-checkbox>
                                <mat-checkbox class="mr-4 addc-checkbox" color="primary" >Sun</mat-checkbox>
                              </section>
                          </div>
                      </div>

                    </div>
                  </div>
                  <div class="content-2">
                    <h4 class="template-subtitle">Computation</h4>
                    <div class="sub-content">
                        <div class="row">
                          <div class="col-lg-2 col-sm-4 part-title">Overtime Computation <br>(check those applies)</div>
                          <div class="col-lg-10 col-sm-8 part-content">
                            <div>
                              <div>
                                  <mat-checkbox class="mr-4 addc-checkbox" color="primary">OT 1.0:</mat-checkbox>
                              </div>
                              <div class="d-flex">
                                <span>  For work done on </span>
                                <mat-form-field class="addc-select-border-container mr-4">
                                  <mat-select>
                                    <mat-option>Day</mat-option>
                                    <mat-option value="option1">Option 1</mat-option>
                                    <mat-option value="option2">Option 2</mat-option>
                                    <mat-option value="option3">Option 3</mat-option>
                                  </mat-select>
                                </mat-form-field>
                                <mat-form-field class="addc-select-border-container mr-4">
                                  <mat-select>
                                    <mat-option>Day</mat-option>
                                    <mat-option value="option1">Option 1</mat-option>
                                    <mat-option value="option2">Option 2</mat-option>
                                    <mat-option value="option3">Option 3</mat-option>
                                  </mat-select>
                                </mat-form-field>
                                <mat-form-field class="example-full-width">
                                  <input matInput value="Sushi">
                                </mat-form-field>
                                <div>
                                  <button>Add More</button>
                                </div>
                              </div>
                            </div>

                            <div>
                              <div>
                                  <mat-checkbox class="mr-4 addc-checkbox" color="primary">FIX OT </mat-checkbox>
                              </div>
                              <div class="d-flex">
                                <span>  Additional </span>
                                <mat-form-field class="addc-select-border-container mr-4">
                                  <mat-select>
                                    <mat-option>Day</mat-option>
                                    <mat-option value="option1">Option 1</mat-option>
                                    <mat-option value="option2">Option 2</mat-option>
                                    <mat-option value="option3">Option 3</mat-option>
                                  </mat-select>
                                </mat-form-field>
                                <mat-form-field class="addc-select-border-container mr-4">
                                  <mat-select>
                                    <mat-option>Day</mat-option>
                                    <mat-option value="option1">Option 1</mat-option>
                                    <mat-option value="option2">Option 2</mat-option>
                                    <mat-option value="option3">Option 3</mat-option>
                                  </mat-select>
                                </mat-form-field>
                                <span>per</span>
                                <mat-form-field class="addc-select-border-container mr-4">
                                  <mat-select>
                                    <mat-option>Day</mat-option>
                                    <mat-option value="option1">Option 1</mat-option>
                                    <mat-option value="option2">Option 2</mat-option>
                                    <mat-option value="option3">Option 3</mat-option>
                                  </mat-select>
                                </mat-form-field>
                              </div>
                            </div>

                          </div>
                        </div>
                        <div class="row">
                          <div class="col-lg-2 col-sm-4 part-title">Completion Bonus Payment</div>
                          <div class="col-lg-10 col-sm-8 part-content">
                            <mat-radio-group >
                              <mat-radio-button color="primary" value="m"  class="arngmnt addc-radio">Paid on last month of work (T)</mat-radio-button>
                              <mat-radio-button color="primary" value="f"  class="arngmnt addc-radio">Paid on T+1</mat-radio-button>
                            </mat-radio-group> 
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-lg-2 col-sm-4 part-title">Payslip Format</div>
                          <div class="col-lg-10 col-sm-8 part-content">
                              <mat-form-field class="addc-select-border-container mr-4">
                                <mat-select>
                                  <mat-option>Day</mat-option>
                                  <mat-option value="option1">Option 1</mat-option>
                                  <mat-option value="option2">Option 2</mat-option>
                                  <mat-option value="option3">Option 3</mat-option>
                                </mat-select>
                              </mat-form-field>
                          </div>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="addc-bottom d-flex justify-content-space-between">
          <div>
            <a class="addc-btn btn-secondary"  [routerLink]="['/admin/task/client']">Cancel</a>
          </div>
          <div>
            <button class="addc-btn btn-light mr-3" >Save as draft</button>
            <button class="addc-btn btn-primary" >Done</button>
          </div>
        </div>
      </div>
    </mat-step>
  </mat-horizontal-stepper>

  