@import '../../../../general.scss';

.addc-bg-white{
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1);
    padding: 16px 24px ;
    margin-bottom: 50px;

    .addc-ttl{
        font-family: $font1;
        font-size: 16px;
        line-height: 1.5;
        color: #000000;
    }
    .arrngmnt-txt{
        font-family: Roboto;
        font-size: 14px;
        color: rgba(0, 0, 0, 0.5);
    }
    .arngmnt{
        font-size:14px;
        margin-right:24px;  
    }
}
.mx-hg-1{
    max-height: 62vh;
    height: 100%;
}
.addc-bottom{
    // position: absolute;
    bottom: 0;
    left: 0;
    right: 0;  
    padding-bottom: 20px;  
}
.add-stp-item{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 80px;
}
.adc-row{
    margin-left: -24px;
    margin-right: -24px;
}
.tbl-1{
    height: 340px;
    overflow: auto;
}

.step-3{
    .addc-bg-white{
        padding-bottom: 0;
    }
    .sub-content{
        .row{
            margin-bottom: 16px;
        }
    }
    .addc-template{
        display: flex;
        align-items: stretch;
        margin-left: -24px;
        margin-right: -24px;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        
        &>*:first-child{
            border-right: 1px solid rgba(0, 0, 0, 0.1);
        }
        .addc-template-sidebar{
            width: 160px;
            button,a{
                display: block;
                border: none;
                outline: none;
                background: transparent;
                font-family: $font1;
                font-size: 14px;
                color: #6e6d6e;
                width: 100%;
                text-align: center;
                line-height: 52px;

                &.active{
                    background-color: rgba(92, 184, 178, 0.1);
                    font-size: 14px;
                    font-weight: bold;
                    color: $base-green-color;
                }
            }
        }
        .addc-template-content{
            width: calc(100% - 161px);
            padding: 20px 16px;

            .template-title{
                font-family: $font1;
                font-size: 24px;
                color: $base-green-color;
                margin-bottom: 23px;
            }
            .template-subtitle{
                background-color:  $base-green-color;
                font-family: $font1;
                font-size: 16px;
                color: #fff;
                padding: 4px 16px;
            }
            .sub-content{
                padding:  16px;
                .part-title{
                    font-family: $font1;
                    font-size: 14px;
                    line-height: 1.43;
                    color: rgba(0, 0, 0, 0.5);
                }
                .wrk-tbl{
                    &>div>div:first-child{
                        background: lighten($base-green-color, 40%);
                        height: 40px;
                        line-height: 40px;
                        font-family: $font1;
                        font-size: 12px;
                        font-weight: bold;
                        text-align: center;
                    }

                    .left-title{
                        flex: none;
                        &>*:not(:first-child){
                            padding: 18px 24px;
                            font-family: $font1;
                            font-size: 14px;
                            border-bottom: 1px solid lighten(#6e6d6e,30%);
                        }
                    }
                    .data-day{
                        flex: 1;
                        overflow: hidden;
                        &>*:not(:first-child){
                            .mat-radio-button{
                                padding: 18px 10px 12px;
                            }
                        }
                        .dy-radio-grp{
                            width: 40px;
                            margin: auto;
                            display: block;

                            .mat-radio-label{
                                margin: 0;
                            }

                            .arngmnt {
                                position: relative;
                                &:after{
                                    content: '';
                                    position: absolute;
                                    bottom: 0;
                                    left: -40px;
                                    right: -40px;
                                    border-bottom: 1px solid lighten(#6e6d6e,30%);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    
}