@import '../general.scss';

.pageheader-title{
    font-family: $font1;
    font-size: 24px;
    line-height: 1.5;
    color: $base-green-color;
    font-weight: normal;
    text-transform: capitalize;
    line-height: 1.5;
    margin-bottom: 4px;
}
.breadcrumb{
    background-color: transparent;
    padding: 0;
    
    .breadcrumb-item{
        position: relative;
        font-family: $font1;
        font-size: 12px;
        font-weight: normal;
        line-height: 1.5;
        color: rgba(0, 0, 0, 0.5);
        text-transform: capitalize;

        &:last-child{
            font-weight: bold;
        }
    }
}

.breadcrumb-item+.breadcrumb-item{
    padding-left: 15px;
    &::before{
        content:"\E87D";
        font-family: 'fontello';
        font-size: 9px;
        line-height: 7px;
        position: absolute;
        left: 6px;
        top: 6px;
    }
}