@import '../../../general.scss';

.addc-input-capsule-search-container{
  width: 100%;
  max-width: 350px;
}

.addc-table-container {
    height: 430px;
    overflow: auto;
    background: #fff;
    border-radius: 8px;
    margin-bottom: 72px;
    filter: drop-shadow( 0 2px 2px rgba(0,0,0,.05));
}
  
table {
  width: 100%;
}
th.mat-sort-header-sorted {
  color: black;
}
.addc-capsule{
  display: inline-block;
  text-transform: capitalize;
  min-width: 160px;
  &.draft{
    background-color: rgba(245, 214, 110, 0.6);
  }
  &.complete{
    background-color: rgba(196, 211, 109, 0.6);
  }
}