<div>

  <div class="row align-item-start">
    <div class="col-md-6">
      <div class="addc-input-capsule-search-container">
        <input  (keyup)="applyFilter($event.target.value)" placeholder="Search for clients" class="search">
      </div>
    </div>
    <div class="col-md-6 text-right">
      <a [routerLink]="['./add-new-client']" class="addc-btn-capsule">
        <i class="icon-plus"></i>
        Add New
      </a>
    </div>
  </div>

    <div class="addc-table-container">
        <table mat-table [dataSource]="dataSource" matSort class="addc-table addc-tbl-round">

            <!-- Position Column -->
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Client ID </th>
              <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>
          
            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
              <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>
          
            <!-- Weight Column -->
            <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
              <td mat-cell *matCellDef="let element" >
                <div class="addc-capsule {{element.status}}">
                  {{element.status}} 
                </div>
              </td>
            </ng-container>
          
            <!-- Symbol Column -->
            <ng-container matColumnDef="created_by">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> Created By </th>
              <td mat-cell *matCellDef="let element"> {{element.created_by}} </td>
            </ng-container>
           
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
    </div>
</div>

<div >
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons class="addc-table-page"></mat-paginator>
</div>
