<div class="d-flex justify-content-center align-items-center h-100">
  <div class="lgn-box">
    <p class="text-center font-weight-bold ttl-lgn">Forget Password</p>
    <div>
      <div>
        <div class="input-group ">
          <mat-form-field class="border-input w-100 forget-input">
            <input matInput placeholder="Email" type="email" [formControl]="emailFormControl" required>
            <mat-error *ngIf="emailFormControl.hasError('required')">
                New Password is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="input-group mt-1">
          <mat-form-field class="border-input w-100 forget-input">
            <input matInput placeholder="Mobile" [formControl]="telFormControl" required type="tel" >
            <!-- <mat-error *ngIf="telFormControl.hasError('email') && !telFormControl.hasError('required')">
              Please enter a valid password address
            </mat-error> -->
            <mat-error *ngIf="telFormControl.hasError('required')">
              Confirm new password is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="d-flex justify-content-center">
            <a [routerLink]="['../../admin/dashboard']"  class="button-rounded bg-base-green btn-login mb-8px">Submit</a>
        </div>
      </div>
    </div>
  </div>
</div>
