<header class="admin-header">
    <div class="d-flex">
        <div class="logo">
            <a [routerLink]="['/']" >
                <img src="assets/images/littlehijabihor.png" alt="logo">
            </a>
        </div>
        <div class="cntr w-100">
            <div class="d-flex justify-content-space-between align-items-start w-100">
                <div class="search">
                    <div>
                        <i class="fa fa-search"></i>
                        <input type="text" placeholder="Search for anything ...">
                    </div>
                </div>
                <div class="d-flex justify-content-end">
                    <div class="menu">
                        <div>
                            <button>
                                <i class="fa fa-bell"></i>
                            </button>
                        </div>
                        <div>
                            <button>
                                <i class="fa fa-cog"></i>
                            </button>
                        </div>
                    </div>
                    <div class="profile">
                        <div class="bt-profile">
                            <div class="user-pic">
                                <img src="assets/images/profile.jpg" alt="profile">
                            </div>
                            <div class="user-name">
                                <h3 >Nina Lyons</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>