@import '../general.scss';

$header-height: 64px;

.admin-header{
    max-height: $header-height;
    background: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    
    &.header-fixed{
        position: fixed;
        z-index: 10;
        width: 100%;
        top: 0;
    }

    .logo{
        width: $width-menu;
        display: flex;
        align-items: center;
        justify-content: center;

        img{
            width: 139px;
        }
    }
    .cntr{
        max-height: $header-height;
        padding: 16px 32px;
        width: calc(100% - $width-menu);

        .search{
            border: 1px solid rgba(0, 0, 0, 0.1);
            padding: 4px 8px;
            border-radius: 50px;
            max-width: 340px;
            width: 100%;

            i{
                color: rgba(0,0,0,0.3);
                padding: 0 3px;
            }
            input{
                font-size: 14px;
                border:none;
                margin-left: 5px;
                width: calc(100% - 30px);
                &::placeholder { 
                    color: rgba(0,0,0,0.3);
                }
                &:focus{
                    outline:none;
                }
            }
        }

        .menu{
            display: flex;
            position: relative;
            padding-right: 12px;
            margin-right: 12px;

            &::after{
                content: '';
                width: 1px;
                background-color: rgba(0,0,0,0.13);
                position: absolute;
                top: -4px;
                right: -1px;
                bottom: -4px;
            }

            button{
                background: transparent;
                border:none;
                margin: auto 6px;
                font-size: 20px;
                color: rgba(0,0,0,0.3);
                padding: 0 6px;
                
                &:focus,
                &:active{
                    outline: none;
                }
            }
        }

        .profile{
            margin-left: 4px;
            padding-left: 4px;
            .bt-profile{
                display: flex;
                align-items: center;

                .user-pic{
                    overflow: hidden;
                    width: 32px;
                    height: 32px;
                    border-radius: 50%;
                    margin: 0 8px;

                    img{
                        width: 32px;
                    }
                }
                .user-name{
                    display: flex;
                    align-items: center;
                    h3{
                        font-family: $font1;
                        font-size: 14px;
                        margin: 0;
                        font-weight: normal;
                    }
                }
            }
        }

    }
}