input:focus,
input:hover{
    outline:none;
}

button,
a{
    text-decoration: none;
    &:focus,
    &:hover,
    &:active{
        outline: none;
    }
}

.button-rounded{
    font-size: 14px;
    color:#fff;
    font-family: $font1;
    padding: 14px;
    border-radius: 24px;
    text-align: center;
    text-decoration: none;
}

.bg-base-green{
    background-color: $base-green-color;
    &.button-rounded:hover{
        background-color: lighten($base-green-color,10%);
    }
}

.justify-content-space-between{
    justify-content: space-between !important;
}

