<div class="d-flex justify-content-center align-items-center h-100 ">
    <div class="lgn-box">
      <p class="display-3 ttl-lgn">Register</p>
      <div>
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Username">
        </div>
        <div class="input-group mb-3">
          <input type="password" class="form-control" placeholder="Password">
        </div>
        <div class="input-group mb-3">
          <input type="password"  class="form-control" placeholder="Rewrite password">
        </div>
        <div class="input-group mb-3">
          <input type="email" class="form-control" placeholder="Email">
        </div>
        <div class="input-group mb-3">
            <input type="email" class="form-control" placeholder="Email">
          </div>
          <div class="input-group mb-3">
              <input type="email" class="form-control" placeholder="Email">
            </div>
        <div class="row">
          <div class="col-md-6">
              <a [routerLink]="['/auth/login']" class="text-white" >Already Have Account ?</a>
          </div>
          <div class="col-6 text-right">
            <a [routerLink]="['/auth/login']"  class="btn btn-primary px-4">Register</a>
          </div>
        </div>
      </div>
    </div>
  </div>