<div class="d-flex justify-content-center align-items-center h-100" *ngIf="formActive">
  <div class="lgn-box">
    <p class="text-center font-weight-bold ttl-lgn">New Password</p>
    <div>
      <div>
        <div class="input-group ">
          <mat-form-field class="border-input w-100 newpass-input">
            <input matInput placeholder="Email" type="email" [formControl]="emailFormControl" required>
            <mat-error *ngIf="emailFormControl.hasError('required')">
                New Password is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="input-group mt-1">
          <mat-form-field class="border-input w-100 newpass-input">
            <input matInput placeholder="Mobile" [formControl]="telFormControl" required type="tel" >
            <!-- <mat-error *ngIf="telFormControl.hasError('email') && !telFormControl.hasError('required')">
              Please enter a valid password address
            </mat-error> -->
            <mat-error *ngIf="telFormControl.hasError('required')">
              Confirm new password is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="d-flex justify-content-center mt-24">
            <button (click)="passwordChange()" class="button-rounded text-white bg-base-green btn-login mb-8px">Submit</button>
        </div>
      </div>
    </div>
  </div>
</div>
  

<div class="d-flex justify-content-center align-items-center h-100" *ngIf="!formActive">
    <div class="lgn-box">
      <div class="d-flex justify-content-center mb-8">
        <img src="assets/images/allow-icon.png" alt="check">
      </div>
      <p class="text-center font-weight-bold ttl-lgn mb-16">Password Changed</p>
      <p class="text-center pass-scss-desc">Your password has been changed successfully</p>
      <div class="d-flex justify-content-center mt-32">
          <a [routerLink]="['/auth/login']" class="button-rounded text-white bg-base-green btn-login ">Back to Sign In</a>
      </div>
    </div>
</div>
