<div class="d-flex justify-content-center align-items-center h-100 ">
  <div class="lgn-box">
    <p class="text-center font-weight-bold ttl-lgn">Sign In</p>
    <form  [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate>
      <div class="lgn-frm">
        <div class="input-group  lgn-input">
          <mat-form-field class="border-input w-100 " [ngClass]="{'error': usernameNotValid}">
            <input matInput placeholder="Username" (keydown)="deleteUserInvalidErr($event)" formControlName="username" required>
            <mat-error *ngIf="loginForm.value.username == ''">
                Username is <strong>required</strong>
            </mat-error>
          </mat-form-field>
          <div class="error-invalid" *ngIf="loginForm.value.username != '' && usernameNotValid">
            Invalid username
          </div>
        </div>
        <div class="input-group mt-1 lgn-input">
          <mat-form-field class="border-input w-100 " [ngClass]="{'error': passwordNotValid}">
            <input matInput placeholder="Password" (keydown)="deletePassInvalidErr($event)" formControlName="password" required type="{{showPass?'text':'password'}}" [(ngModel)]="value" [errorStateMatcher]="matcher">
            <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" type=button (click)="showPass = !showPass" class="pass-show">
              <i class="fa fa-eye"></i>
            </button>
            <mat-error *ngIf="loginForm.value.password == ''">
              Password is <strong>required</strong>
            </mat-error>
          </mat-form-field>
          <div class="error-invalid" *ngIf="loginForm.value.password != '' && passwordNotValid">
            Invalid password
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class=" remember-me">
              <mat-checkbox color="primary"  class="rm checkbox-base-green">Remember me</mat-checkbox>
            </div>
          
          </div>
          <div class="col-12 text-center mt-1">
            <div class="d-flex justify-content-center">
              <button type="submit"   class="button-rounded bg-base-green btn-login">Sign In</button>
            </div>

            <div class="d-flex justify-content-center">
                <a [routerLink]="['../forgot-password']"  class="forgot-password">Forgot password ?</a>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>