@import '../../../@themes/styles/style.scss';



.lgn-input{
    margin-bottom: 23px;
}

.forgot-password{
    font-family: $font1;
    font-size: 14px;
    line-height: 1.43;
    color: $base-green-color;
    margin-top: 16px;
}
.pass-show{
    border: none;
    background: transparent;
    padding-right: 12px;
    padding-left: 12px;
}
.error-invalid{
    margin-left: 18px;
    font-size: 12px;
    font-family: Roboto;
    color: red;
    margin-top: -16px;
    line-height: 12px;
}