/* You can add global styles to this file, and also import other style files */

$base-green-color: #5cb8b2;
$secondary-color: #e0e0e0;
$light-color:#cae5e3;
$error : red;


$font1:Roboto;
$fontello: fontello;
$fontawesome: fontawesome;


html, body { height: 100%; }
body { margin: 0; font-family: Roboto; }
.justify-content-space-between{
    justify-content: space-between;
}

.border-input{
    .mat-form-field-label{
        margin-left: 16px;
        margin-top:10px;
    }
    &.mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label{
        background: #fff;
        display: inline;
        margin-top:0;
        margin-left: 11px;
        padding: 0 5px;
        width: auto;
        transform: translateY(-.85em) scale(.75) perspective(100px) translateZ(.001px) !important;
        .mat-placeholder-required{
            display: none;
        }
    }
    &:not(.mat-form-field-invalid) .mat-form-field-label{
        color: $base-green-color;
    }

    .mat-form-field-infix{
        border: solid 1px #b2b2b2;
        padding: 16px;
        border-radius: 5px;
    }
    .mat-form-field-underline{
        display: none;
    }
    .mat-error{
        margin-left: 16px;
        font-size: 12px;
    }
    .mat-form-field-suffix{
        position: absolute;
        top: 0;
        right: 0;
        bottom: 20px;
        display: flex;
    }

    &.error,
    &.mat-form-field-invalid {
        .mat-form-field-label {
            color: $error;
        }
        .mat-form-field-suffix{
            color: $error;
            i{
                color: $error;
            }
        }
        .mat-form-field-infix{
            border-color: $error !important;
        }
    }
}

.checkbox-base-green{
    .mat-checkbox-frame{
        border-color: rgba(0,0,0,.4);
    }
    &.mat-checkbox-checked {
        .mat-checkbox-background{
            background-color:$base-green-color;
         }
    }
}

.login-bg{
    background-image: url('assets/images/bg01.jpg');
    // &::after{
    //     content: '';
    //     position: absolute;
    //     top: 0;
    //     bottom: 0;
    //     left: 0;
    //     right: 0;
    //     background-color: rgba(81, 179, 172, 0.73);
    //     z-index: -1;
    // }
}

.admin-bg{
    background-color: #f4f4f5;
}







//table
$table-radius: 8px;

.addc-table{
    &.addc-tbl-round{
        border-radius: $table-radius;
        thead{
            th.mat-header-cell{
                &:first-child{
                    border-radius: $table-radius 0 0 0 ;
                }
                &:last-child{
                    border-radius: 0 $table-radius 0 0 ;
                }
            }
        }
        tbody{
            tr:last-child{
                border-radius: 0 0 $table-radius $table-radius;
    
                td.mat-cell{
                    &:first-child{
                        border-radius: 0  0 0 $table-radius;
                    }
                    &:last-child{
                        border-radius: 0 0 $table-radius  0 ;
                    }
                }
            }
        }
    }
    
    thead{
        tr.mat-header-row{
            height: auto;
        }
        th.mat-header-cell{
            background: darken($base-green-color, 5%);
            color: #fff;
            font-family: $font1;
            font-size: 12px;
            font-weight: normal;
            padding: 10px 0 10px 24px;
        }
    }
    tbody{
        td.mat-cell, td.mat-footer-cell, th.mat-header-cell{
            padding: 10px 0 10px 24px;
        }
    }

    .mat-sort-header-arrow{
        .mat-sort-header-stem{background: transparent}
        .mat-sort-header-indicator{
            .mat-sort-header-pointer-left,
            .mat-sort-header-pointer-right,
            .mat-sort-header-pointer-middle{
                color: #fff !important;
            }
        }
    }
    thead{
        th:not([aria-sort]){
            .mat-sort-header-button{
                position: relative;

                &::before,
                &::after{
                    position: absolute;
                    color: #fff;
                    font-size: 9px;
                    left: calc(100% + 8px);
                }

                &::before{
                    transition: all 1s;
                    content:'\f077';
                    font-family: $fontawesome;
                    top: -1px;
                }
                &::after{
                    content:'\f078';
                    font-family: $fontawesome;
                    bottom: -1px;
                }
            }

        }
    }
}

.addc-table-page{
    background: transparent;
    .mat-paginator-container{
        display: flex;
        justify-content: center;
    }
}

.addc-input-capsule-search-container{
    background-color: rgba(0, 0, 0, 0.05);
    border-radius:50px;
    display: inline-block;
    margin-bottom: 16px;
    padding: 4px 8px;

    &:before{
        content:"\f002";
        font-family: $fontawesome;
        color: $base-green-color;
        margin-right: 8px;
        margin-left: 5px;
    }
    input{
        width: calc(100% - 30px);
        border: none;
        background:transparent;
        font-family: $font1;
        font-size: 14px;
        &::-webkit-input-placeholder,
        &::-moz-placeholder,
        &::-moz-placeholder,
        &:-ms-input-placeholder{
            color: lighten(rgb(0,0,0), 80%);
        }
    }

}

.addc-btn-capsule{
    border-radius: 22px;
    background-color: lighten($base-green-color,30%);
    padding: 6px 16px;
    padding-left: 35px;
    font-family: $font1;
    font-size: 14px;
    color: #000;
    line-height: 32px;
    position: relative;

    i:first-child{
        position: absolute;
        font-size: 22px;
        left: 6px;
        top: -1px;
    }

    &:hover{
        background-color: lighten($base-green-color,33%);
        color: #000;
    }
}

.addc-capsule{
    border-radius: 18px;
    padding: 8px;
    color:#000;
    font-family: $font1;
    text-align: center;
    font-size: 14px;
}

.addc-stepper{
    background: transparent;
    .mat-horizontal-stepper-header-container{
        margin-bottom: 20px;
    }
    .mat-stepper-horizontal-line{
        flex: 0;
        min-width: 150px;
    }
    .mat-step-header {
        overflow: initial;
        padding: 5px 8px;
        padding-left: 15px;
        height: auto;

        &[ng-reflect-state=done] + .mat-stepper-horizontal-line{
            border-top-color: $base-green-color;
        }

        &:first-child{
            padding-left: 0;
        }

        
        .mat-step-label.mat-step-label{
            position: absolute;
            top: 100%;
            font-family: $font1;
            font-size: 14px;
        }
       
        .mat-step-icon{
            .mat-step-icon-content{
                font-size: 14px;
            }
        }
        &.cdk-keyboard-focused, 
        &.cdk-program-focused, 
        &:hover {
            background-color: transparent;
        }

        .mat-step-icon-selected,
        .mat-step-icon-state-edit,
        .mat-step-icon-state-done{
            background-color: $base-green-color;
            border: 2px solid #fff;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
        }
        .mat-horizontal-stepper-header{
            pointer-events: none !important;
        }
        .mat-step-header {
            pointer-events: none !important;
          }
    }
    .mat-horizontal-content-container{
        margin-top: 44px;
        padding: 0;
    }
}

.addc-material-input{
    .mat-form-field-label{
        font-family: $font1;
        font-size: 14px;
    }
    &.mat-focused:not(.mat-form-field-invalid){
        .mat-form-field-ripple{
            background-color: $base-green-color;
        }
        .mat-form-field-label{
            color: $base-green-color;
        }
    } 
}

.addc-radio{
    &.mat-radio-checked{
        .mat-radio-outer-circle{
            border-color: $base-green-color !important;
            background-color:  $base-green-color;
        }
        .mat-radio-inner-circle{
            background-color: #fff;
            width: 6px;
            height: 2px;
            top: 12px;
            transform: rotate(30deg);
            left: 4px;
            border-radius: 0;
            
            &::after{
                content: '';
                width: 12px;
                height: 2px;
                background: #fff;
                position: absolute;
                top: -5px;
                left: 0px;
                transform: rotate(100deg);
            
            }
        }
    }
}

.addc-btn{
    height: 32px;
    border-radius: 22px;
    padding: 6px 15px;
    min-width: 115px;
    border: none;
    font-size: 14px;
    display: inline-block;
    text-align: center;
    &:focus,
    &:active{
        box-shadow:none !important;
    }

    &.btn-secondary{
        background-color: $secondary-color;
        color: #000;
        &:hover,
        &:focus{
            background-color: lighten($secondary-color,5%);
        }
        &:active{
            background-color: darken($secondary-color,5%) !important;
        }
    }
    &.btn-light{
        background-color: $light-color;
        color: #000;
        &:hover,
        &:focus{
            background-color: lighten($light-color,5%);
        }
        &:active{
            background-color: darken($light-color,5%) !important;
        }
    }
    &.btn-primary{
        background-color: $base-green-color;
        color: #fff;
        &:hover,
        &:focus{
            background-color: lighten($base-green-color,10%);
        }
        &:active{
            background-color: darken($base-green-color,10%) !important;
        }
    }
}

.addc-select-border-container{
    .mat-select-value-text{
        font-size: 14px;
    }
    .mat-select-arrow-wrapper{
        .mat-select-arrow{
            border:none;
            &:after{
                font-family: $fontawesome;
                content:'\f078';
                font-size: 9px;
                position: absolute;
                right: 5px;
                top: 3px;
            }
        }
    }
    .mat-form-field-underline{
        background-color: transparent;
    }
    &.mat-focused .mat-form-field-ripple{
        background-color: transparent;
    }

    .mat-form-field-infix{
        border-radius: 4px;
        border: solid 1px rgba(0, 0, 0, 0.3);

        .mat-select-value{
            padding: 0 8px;
        }
    }
}


.addc-u-select-border-container{
    position: relative;

    &::after{
        font-family: $fontawesome;
        content: '\f078';
        font-size: 12px;
        position: absolute;
        right: 6px;
        top: 9px;
        color: #555;
    }

    select{
        cursor: pointer;
        border-radius: 5px;
        padding: 6px 8px;
        padding-right: 25px;
        -moz-appearance:none; /* Firefox */
        -webkit-appearance:none; /* Safari and Chrome */
        appearance:none;
    
        option{
            padding: 5px;
        }
    }
}

.addc-checkbox{
    &:not(.mat-checkbox-disabled) .mat-checkbox-ripple .mat-ripple-element{
        background-color: $base-green-color;
    }
    &.mat-checkbox-checked.mat-primary .mat-checkbox-background{
        background-color: $base-green-color;
    }
    .mat-checkbox-label{
        font-size: 14px;
        font-family: $font1;
    }
}


